body {
    background-color: rgb(175, 202, 21);
}
#logo {
    margin: 5px;
    padding: 5px;
    font-size: 15px;
    border: 2px solid black;
    background-color: rgb(255, 0, 179);
    color: darkslateblue;
}

#head_topic {
    height: 500px;
    overflow: auto;
    border: 2px solid black;
    background-color: aqua;
    margin: 5px;
    direction: rtl;
}
#header {
    color: rgb(24, 15, 15);
    background-color: rgb(174, 0, 255);
    direction: ltr;
}

#body1 {
    background-color: rgb(137, 170, 231);
   
    direction: ltr;
}
#body1 > p {
    font-size: 20px;
    margin-bottom: 5px;
}

#footer {
    background-color: gray;
    color: darkgreen;
    margin: 5px;
}
::-webkit-scrollbar {
    width: 20px; /* Width of vertical scrollbar */
}
::-webkit-scrollbar-track {
    background: black; /* Color of the track */
}